@import "tailwindcss";

body {
    background-color: #2B2B2B;
    color: #FFFFFF;
}

.shadowOverlay {
    background-color: rgb(0, 0, 0, 0.05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem; /*rounded*/
}
