.slick-slide {
    margin: 0 10px; /* gap between elements */
}

/*********************************************************
The following is meant to REPLACE original slick-theme.css
*********************************************************/

.slick-prev,
.slick-next
{
    cursor: pointer;
    top: 125px; /* to align with MovieCard which height is 210px */
                /* => MovieCard height / 2 + arrow height / 2 = 105 + 20 */
}

.slick-prev {
    left: -80px;
}

.slick-next {
    right: -80px;
}

.slick-prev,
.slick-next
{
    opacity: .85;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity: 1;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
    opacity: .25;
}
